* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  
  img {
    max-width: 100%;
  }

  button {
    cursor: pointer;
  }
}